<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <%= content_tag(:p, @message_text, style: "color:#{@message_color}") %>
  </body>
</html>
